<?php
/** @var \Zend\View\Renderer\PhpRenderer $this */

if (isset($_COOKIE[session_name()])) {
    /** @var $flash \Zend\View\Helper\FlashMessenger */
    $flash = $this->flashMessenger();
    $flash->setMessageOpenFormat(
        '<div%s></i>
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
             &times;
         </button>
         <ul id="flashMessenger" class="list-unstyled"><li>'
    )
        ->setMessageSeparatorString('</li><li>')
        ->setMessageCloseString('</li></ul></div>');

    echo $flash->renderCurrent('error', array('alert', 'alert-dismissable', 'alert-danger', '"><i class="fa fa-ban'));
    echo $flash->renderCurrent('warning', array('alert', 'alert-dismissable', 'alert-warning', '"><i class="fa fa-warning'));
    echo $flash->renderCurrent('info', array('alert', 'alert-dismissable', 'alert-info', '"><i class="fa fa-info'));
    echo $flash->renderCurrent('success', array('alert', 'alert-dismissable', 'alert-success', '"><i class="fa fa-check'));
    echo $flash->renderCurrent('default', array('alert', 'alert-dismissable', 'alert-warning', '"><i class="fa fa fa-warning'));

    $this->flashMessenger()->getPluginFlashMessenger()->clearCurrentMessagesFromContainer();

    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger', '"><i class="fa fa-ban'));
    echo $flash->render('warning', array('alert', 'alert-dismissable', 'alert-warning', '"><i class="fa fa-warning'));
    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info', '"><i class="fa fa-info'));
    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success', '"><i class="fa fa-check'));
    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning', '"><i class="fa fa fa-warning'));

}
